a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  padding: 20px;
}

.left-nav img {
  height: 80px;
  width: 80px;
}

.middle-nav {
  display: flex;
  align-items: center;
}

.middle-nav a {
  margin-left: 20px;
  color: #e5e7eb;
  font-size: 17px;
  cursor: pointer;
}

.middle-nav a:hover {
  color: #3882f6;
  transition: 0.3s;
}

.login_button a,
.logout_button a {
  background-color: #3882f6;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 27px;
  border-radius: 6px;
  font-size: 15px;
}
